*{
    background-color: #0d8c04;
}

img.align-center {
    display: block;
    margin: 0px auto;
}

hr{
    border-color: black;
    border-style: dashed;
}

h1, h2, h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.home h1{
    color:black;
    text-align: center;
}

.home p{
    color: black;
    text-align: center;
    font-size: 24pt;
}

nav{
    text-align: center;
}

nav ul{
    padding: 0%;
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    padding-left: 10px;
}

nav a:link{
    color: black;
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
    color: white;
}

nav a:visited{
    color: black;
    text-decoration: none;
}

.cat{
    font-family: cursive;
}

.aboutMe p{
    font-size: 18pt;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

table td{
    padding-right: 5px;
    padding-left: 5px;
}

.projects a:link{
    color: black;
}

.projects a:hover{
    color: white;
}

.projects a:visited{
    color: black;
}

table a:link{
    color: black;
    text-decoration: none;
}

table a:hover{
    color: white;
    text-decoration: none;
}

table a:visited{
    color: black;
}