*{
    background-color: #0d8c04;
    color: #ffcb21;
    margin-top: 20px;
}

hr{
    border-color: black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1, h2, h3{
    text-align: center;
}

#home h1{
    color:black;
    text-align: center;
}

#home p{
    color: black;
    text-align: center;
}

nav{
    text-align: center;
    border-color: black;
}

nav ul{
    padding: 0%;
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    padding-left: 10px;
}

img{
    position: right;
}

a:link{
    color: #ffcb21;
    text-decoration: none;
}

a:hover{
    color: #ffcb21;
    text-decoration: underline;
}
